@import "tailwindcss";

@font-face {
  font-family: "Satoshi";
  src: url("/assets/fonts/Satoshi-Bold.otf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "Satoshi";
  src: url("/assets/fonts/Satoshi-Bold.otf") format("opentype");
  font-weight: 900;
}

@font-face {
  font-family: "Satoshi";
  src: url("/assets/fonts/Satoshi-Regular.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "Satoshi";
  src: url("/assets/fonts/Satoshi-Medium.otf") format("opentype");
  font-weight: 500;
}

@theme {
  --font-Satoshi: Satoshi, sans-serif;
}

.bg-purple-gradient {
  background: linear-gradient(180deg, #8C52FF 0%, #A276FA 100%);
}

.shadow-custom {
  box-shadow: 0px 4px 28px -4px rgba(0, 0, 0, 0.10);
}
